<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>about</title>
        <link href ="css/main.css" rel="stylesheet">
    </head>
    <body>
        <article>
            <header>
                <h1>About Bananpaj</h1>
            </header>
            <nav>
                <a class="meny" href="index.html">Home</a>
                <a class="meny" href="gallery.html">Gallery</a>
                <a class="meny" href="about.html">About</a>
            </nav>
            <main>
                <h1>About Bananpaj</h1>
                <p>Flank venison alcatra ham hock cupim chicken. Cow strip steak swine, jowl ham hock rump ground round. Drumstick tri-tip meatloaf burgdoggen ribeye brisket, cupim pork belly landjaeger tenderloin pork loin picanha pork. Porchetta cow picanha corned beef meatloaf. Shoulder tail drumstick, pork belly jerky venison shankle capicola ground round doner short ribs. Capicola turkey tongue, jowl spare ribs pig kielbasa pastrami short loin hamburger ground round flank.</p>

            </main>
            <footer>
                <p> By using this site, you agree to the Terms of Use and Privacy
                    Policy. Bananpaj® is a registered trademark of the Bananpaj
                    Foundation Inc.</p>

            </footer>
        </article>
        <aside>
            <h2>Bästa Bananpaj</h2>
            <p>Spicy jalapeno bacon ipsum dolor amet shank spare ribs chicken
                doner, turkey swine burgdoggen. Andouille turducken beef ribs sirloi
                n. Ball tip andouille pancetta turducken, kielbasa shank swine ham ho
                ck venison. Drumstick shank spare ribs pork kevin. Flank rump ball tip
                tail leberkas doner drumstick fatback ham hock pastrami venison sirloi
                n cupim. Corned beef picanha porchetta filet mignon bresaola alcatra k
                ielbasa pork belly pancetta ground round.</p>
        </aside>

    </body>
</html>