<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link href ="css/main.css" rel="stylesheet">
</head>
<body>
    <article>
        <header>
            <h1>Finfina Bananpaj bilder 18+!</h1>
        </header>
        <nav>
            <a class="meny" href="index.html">Home</a>
            <a class="meny" href="gallery.html">Gallery</a>
            <a class="meny" href="about.html">About</a>
        </nav>
        <main>
            <img class="bild" src="./img/banan1.jpg">
            <img class="bild" src="./img/banan2.jpg">
            <img class="bild" src="./img/banan3.jpg">
            <img class="bild" src="./img/banan7.jpg">
            <img class="bild" src="./img/banan4.jpg">
            <img class="bild" src="./img/banan5.jpg">
            <img class="bild" src="./img/banan7.jpg">

        </main>
        <footer>
            <p> By using this site, you agree to the Terms of Use and Privacy
                Policy. Bananpaj® is a registered trademark of the Bananpaj
                Foundation Inc.</p>

        </footer>
    </article>
    <aside>
        <h2>Bästa Bananpaj</h2>
        <p>Spicy jalapeno bacon ipsum dolor amet shank spare ribs chicken
            doner, turkey swine burgdoggen. Andouille turducken beef ribs sirloi
            n. Ball tip andouille pancetta turducken, kielbasa shank swine ham ho
            ck venison. Drumstick shank spare ribs pork kevin. Flank rump ball tip
            tail leberkas doner drumstick fatback ham hock pastrami venison sirloi
            n cupim. Corned beef picanha porchetta filet mignon bresaola alcatra k
            ielbasa pork belly pancetta ground round.</p>
    </aside>

</body>
</html>