<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Bananpaj</title>
        <link href ="css/main.css" rel="stylesheet">
    </head>
	
    <body>
		<article>
            <header>
            <h1>Välkommen till Bananpajen!</h1>
            </header>
			<nav>
                <a class="meny" href="index.html">Home</a>
                <a class="meny" href="gallery.html">Gallery</a>
                <a class="meny" href="about.html">About</a>



            </nav>
		    <main>


            </main>
            <footer>


            </footer>
        </article>
		
		<aside>
		<h2>Bästa Bananpaj</h2>
        <p></p>
		
		
		</aside>
	
	
	
	
    </body>
</html>